<Configuration name="ConfigTest" status="ERROR" monitorInterval="5">
    <Appenders>
        <File name="fileAppender" fileName="target/${date:yyyy-MM-dd_hh-mm-ss}-test.log">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %level [%t] [%c] - %msg%n</Pattern>
            </PatternLayout>
        </File>
        <Console name="consoleAppender" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %level [%t] [%c] - %msg%n</Pattern>
            </PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="consoleAppender"/>
            <AppenderRef ref="fileAppender"/>
        </Root>
    </Loggers>
</Configuration>