<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Multithreading in different browsers" parallel="tests" thread-count="2">
    <listeners>
        <listener class-name="by.teachmeskills.util.testng.AnnotationTransformer"/>
        <listener class-name="by.teachmeskills.util.testng.TestListener"/>
        <listener class-name="com.epam.reportportal.testng.ReportPortalTestNGListener" />
    </listeners>
    <test name="Tests for Chrome">
        <classes>
            <class name="by.teachmeskills.SuccessOrderFlowTest"/>
            <class name="by.teachmeskills.CartTest"/>
            <parameter name="browser" value="chrome"/>
        </classes>
    </test>
    <test name="Tests for Firefox">
        <classes>
            <class name="by.teachmeskills.SuccessOrderFlowTest"/>
            <class name="by.teachmeskills.CartTest"/>
            <parameter name="browser" value="firefox"/>
        </classes>
    </test>
</suite>
